@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Montserrat', sans-serif;
  --main-font-color: #606060;
  --secondary-font-color: #ffffff;
  --color-one: #bfbfbf;
}

body{
  font-family: var(--main-font-family);
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--secondary-font-family);
  font-weight: 700;
  text-align: -webkit-center;
  text-align: center;

}

li{
  list-style: none;
}

nav, .home-container, .about-container, .shop-container, .help-container, .cart-container{
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
/*************************************************/
/******************HEADER*************************/
/*************************************************/

nav{
  padding-top: 2em;
}
.logo-wrapper{
  margin-right: 2em;
}
.logo-wrapper img{
  max-width: 50px;
  width: 100%;
  height: 50px;
  object-fit: contain;
}

.nav-left{
  width: 40%;
}
.search-wrapper{
  width: 100%;
  position: relative;
}

.search-wrapper i{
  position: absolute;
  left: .7em;
}
.search-wrapper input{
  width: 100%;
  padding: 5px 15px 5px 35px;
  border: 2px solid var(--color-one);
  font-family: var(--main-font-family);
}

nav ul li a{
  color: #bfbfbf;
  text-decoration: none;
}
nav li{
  border-right: 2px solid #bfbfbf;
  padding: 0 2em;
}
nav li:nth-child(4){
  border-right: none;
}
nav ul li:last-child{
  background-color: var(--main-font-color);
  padding: 5px 15px;
  border-right: none;
}
nav ul li:last-child a{
  color: var(--secondary-font-color);
}
nav ul li:last-child a i{
  margin-right: .5em;
}


/*************************************************/
/****************Home container*******************/
/*************************************************/

.home-container{
  height: auto;
  color: var(--main-font-color);
}

.home-container h1, 
.home-container h2,
.home-container h3,
.home-container h4,
.home-container h5,
.home-container h6{
  color: var(--main-font-color);
}
.hc-first-section, .hc-second-section{
  min-height: 100vh;
  height: auto;
  flex-direction: column;
}

.hc-box-wrapper{
  gap: 2em;
  width: 100%;
  height: auto;
  margin: 2em 0;
  cursor: pointer;
}
.hc-box{
  width: 100%;
  min-height: 250px;
  background-color: var(--main-font-color);
}
.underline{
  width: 30%;
  height: 1px;
  background-color: var(--color-one);
}

.hc-first-section a{
  text-decoration: none;
  color: var(--secondary-font-color);
  padding: 15px 20px;
  background-color: var(--main-font-color);
}

.hc-second-section .hc-box, .hc-fourth-section .hc-box {
  background-color: var(--secondary-font-color);
}
.hc-second-section .hc-box .img-wrapper{
  width: 100%;
  min-height: 30vh;
  margin-bottom: 1em;
  border: 1px solid var(--color-one);
  background-color: var(--secondary-font-color);
}

.hc-third-section{
  margin-bottom: 10em;
}
.newsletter{
  gap: 3em;
}
.newsletter h2{
  text-align: left;
  color: var(--main-font-color);

}
.newsletter .inputs{
  width: 100%;
  background-color: #606060;
}
.newsletter input{
  padding: 10px 15px;
  max-width: 100%;
}
.newsletter input[type="submit"]{
  margin: 0 0 0 .5em;
  background-color: var(--color-one);
  border: none;
  max-width: 100%;
}

.hc-fourth-section .hc-box .img-wrapper{
  width: 100%;
  min-height: 30vh;
  margin-bottom: 1em;
  border: 1px solid var(--color-one);
  background-color: var(--secondary-font-color);
}

.about-this-shop{
  max-width: 900px;
  margin: 10em auto;
}
.hc-fifth-section img{
  max-width: 100px;
  width: 100%;
  min-height: 100px;
}

.hc-fifth-section .location{
  width: 40%;
}
.hc-fifth-section .company-info{
  width: 100%;
}
.company-info li:first-child{
  margin-bottom: .8em;
}
.company-info li{
  padding: .2em 0;
}
.hc-fifth-section a{
  text-decoration: none;
  color: var(--main-font-color);
}


/*************************************************/
/****************About container******************/
/*************************************************/

/*************************************************/
/****************Shop container*******************/
/*************************************************/

/*************************************************/
/****************Help container*******************/
/*************************************************/


/*************************************************/
/****************Cart container*******************/
/*************************************************/